@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>

<div>
    Описание сайта<br>
    ..................................................<br>
    .................................................<br>
    ...............................................<br>
</div>