@{
    Layout = "~/Views/AdminPanel/_Layout.cshtml";
}
@model Diplom.Models.Club
<h3>Вы действительно хотите удалить данный кружок?</h3>
<div>
    <h3>Название:  @Html.DisplayFor(m => m.Name)</h3>
    <p>Описание: @Html.DisplayFor(m => m.Description)</p>
    <p><i>Id кружка: @Html.DisplayFor(m => m.Id)</i></p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Удалить" />
    }
</div>