@{
    Layout = "~/Views/AdminPanel/_Layout.cshtml";
}
@model Diplom.Models.Club
<div>
    <h3>Название:  @Html.DisplayFor(m => m.Name)</h3>
    <p>Описание: @Html.DisplayFor(m => m.Description)</p>
    <p><i>Id кружка: @Html.DisplayFor(m => m.Id)</i></p>
</div>
