@model IEnumerable<Diplom.Models.News>

<h2>Список новостей</h2>
<p><a asp-action="Create">Добавить новость</a></p>
<table class="table">
    <tr><th>Имя</th><th>Текст</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Text</td>
        </tr>
    }
</table>