@model Diplom.Models.News
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Название:  @Html.DisplayFor(m => m.Name)</h3>
    <p>Текст: @Html.DisplayFor(m => m.Text)</p>
    <p>Дата: @Html.DisplayFor(m => m.CreatedDate)</p>
    <p><i>Id новости: @Html.DisplayFor(m => m.Id)</i></p>
</div>
